body {
  font-family: sans-serif;
  background-image: url(https://background-tiles.com/overview/purple/patterns/large/1037.png);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heading {
  color: rgb(152, 39, 75);
  text-align: center;
  margin-top:0px;
}

.title {
  font-weight: 900;
  font-size: 36px;
}

.pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.content {
  width: 70%;
  min-width: 300px;
  max-width: 800px;
  background: rgb(255, 239, 219);
  margin: auto;
  padding: 20px 40px;
  border-radius: 20px;
}

.description {
  margin: 30px auto;
}

.image-holder {
  width: 100%;
  display: flex;
  background-color: yellow;
}

.banner {
  width: 32%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: auto;
}

.center-link {
  text-align: center;
  margin: auto;
  display: block;
}